a, button{ 
  font-weight:500;
  border: 0;
  margin-right: 20px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 1px 0 rgb(255, 255, 255);
}
button { 
  background-color: rgb(216, 29, 29);
}
a { 
  background-color: rgb(8, 26, 182);
}
a:hover, button:hover{
  opacity: 0.7;
}